.cls-1{fill:none;}
.cls-2{fill:#95a5a6;}
.cls-3{fill:#c9d3d1;}
.cls-4{fill:#bdc3c7;}
.cls-5{fill:#fff;}
.cls-6{fill:#fcfbfa;}
.cls-7{fill:#995014;}
.cls-8{opacity:0.5;}
.cls-9{clip-path:url(#clip-path);}
.cls-10{fill:#42210b;}
.cls-11{fill:#797c7c;}
.cls-12{fill:#3b3f3f;}
.cls-13{fill:#faffff;}
.cls-14{fill:#393f3f;}
.cls-15{fill:#dae5e5;}
.cls-16{fill:#7f8787;}
.cls-17{fill:#646b6b;}
.cls-18{fill:#f7f9f9;}
.cls-19{fill:#4f5656;}
.cls-20{fill:#dfeaea;}
.cls-21{fill:#bccece;}
.cls-22{fill:#515e5e;}
      